
  .ancho{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 30px;
  }

  .correcto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 30px;
  }

  .preguntamultiple {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }