<div>
    <div id="contact">
      <div class="sectionheader">	<h1>CREADOR DE PREGUNTAS E-LEARNING</h1></div>
      <div class="card-body">
     <!-- <div class="form-group form-inline">
        Search book by name:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event.target.value)" />
      </div> -->
        <table class="table table-striped">
          <thead>
            <th>Nombre Materia</th>
            <th>Id Materia</th>
            <th>Enunciado</th>
            <th>Retroalimentacion</th>
            <th>Corte</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of pregunta" >
              <td>{{item.nomMateria}}</td>
              <td>{{item.idMateria}}</td>
              <td>{{item.enunciado}}</td>
              <td>{{item.retroalimentacion}}</td>
              <td>{{item.corte}}</td>
              <!--<td>
                <button class="btn btn-info btn-sm"    
                (click)="triggerModal(modalData, item)">
                  Edit </button>
                  &nbsp;
                <button class='btn btn-danger btn-sm' (click)="deleteBook(item.isbn)" >
                  Delete</button>
              </td>-->
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>