<div>
    <div id="contact">
      <div class="sectionheader">	<h1>LISTADO DE PREGUNTAS </h1></div>
      <div class="card-body">
     <!-- <div class="form-group form-inline">
        Search book by name:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event.target.value)" />
      </div> -->
        <table class="table table-striped">
          <thead>
            <th>#</th>
            <th>Nombre Materia</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Retroalimentacion</th>
            <th>Respuestas</th>
            <th>Corte</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of listarpregunta" >
              <td cope="row">
                <input class="form-check-input" type="checkbox"
                [value]="item.id"
                [checked]="item.select"
                (change)="preguntaSeleccionada()"
                [(ngModel)]="item.select"
                />

              </td>
              <!--<td>{{item.id}}</td>-->
              <td>{{item.materia}}</td>
              <td>{{item.titulo}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.retroalimentacion}}</td>
              <td>{{item.respuestas}}</td>
              <td>{{item.corte}}</td>
              <!--<td>
              </td>-->
            </tr>
          </tbody>
        </table>
        <div>
          <button (click)="generarFormato()">Generar formato</button>
        </div>
      </div>
  
    </div>
  </div>