@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-image: url(https://identity.poli.edu.co/authenticationendpoint/img/bg_login_poli.jpg);
}

#contact {
  width: 150px;
  background: #0f385a;
  text-align: center;
}


.desing1 {
  padding-top: 10;
  padding-bottom: .75rem;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  background-color: #0f385a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.table-secondary {
  
  bottom: -0.4cm;
  margin-left: 0.3cm;
  width: 10px;
  border: 2px solid #ffffff;
}

.genformatobutton {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 45%;
  height: 40px;
  margin-top: 2%;
  margin-left: 6%;
  margin-bottom: 2%;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  position: sticky;
}