<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Generador preguntas</a>
      </li>
      <li class="nav-item">
        <a  routerLink="crear" class="nav-link">Crear pregunta</a>
      </li>
      <li class="nav-item">
        <a  routerLink="listar" class="nav-link">Listar preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" >Logout</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
</div>