<!--<div> Esto es de Juan
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Generador preguntas</a>
      </li>
      <li class="nav-item">
        <a  routerLink="crear" class="nav-link">Crear pregunta</a>
      </li>
      <li class="nav-item">
        <a  routerLink="listar" class="nav-link">Listar preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" >Logout</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
</div>-->



  
<div>
  <body>
  <!--
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link disabled" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="crear">CREAR PREGUNTA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="listar">LISTA DE PREGUNTAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled"></a>
    </li>
  </ul>-->

  <div>

    <img class="logopoli" src="https://identity.poli.edu.co/authenticationendpoint/img/logo_poli_header.png" height="45px">

    <button class="btn btn-light botonstyle1" type="button" routerLink="crear">CREAR PREGUNTA</button>

    <button class="btn btn-light botonstyle2" type="button" routerLink="listar">LISTA DE PREGUNTAS</button>
  </div>

  </body>
  

</div>





  <router-outlet></router-outlet>
  