<h1>PREGUNTAS PARA LA PLATAFORMA MOODLE</h1>

  <div>
    <p>Ingrese nombre de la pregunta</p>
    <input type="text" #box1 (keyup)="getTexto(box1.value)" placeholder="Ingrese texto" name="textoPreugnta"/>
  </div>
  
  <div>
    <p>Ingrese titulo de la pregunta</p>
    <input type="text" #box2 (keyup)="getTitulo(box2.value)" placeholder="Ingrese titulo de la pregunta" name="tituloPregunta"/>
  </div>

  <div>
    <h3>Formato generado</h3>
    <p>{{'// ' + outTexto}}</p>
    <p>{{'::' + outTitulo + '::'}}</p>
  </div>