body {
  background-image: url(https://identity.poli.edu.co/authenticationendpoint/img/bg_login_poli.jpg);
}

.body {
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
}

.carnet {
  margin-top: 50px;
  text-align: center;
  background: #ffffff99;
  width: 600px;
  border-radius: 5%;
}

.ancho {
  width: 80%;
  height: 90px;
  font-size: large;

}

.botonSelPregunta {

  text-align: center;
  width: 60%;
  height: 50px;
  margin-left: 3.3cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonstyle1{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 75%;
  height: 40px;
  margin-top: -5px;
  
  cursor: pointer;
  
  }

.crearpregunta {
  margin-top: 10px;
  width: 16cm;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.desing1 {
  margin-top: 10px;
  text-align: center;
  background-color: #0f385a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-select {
  font-weight: bold;
  margin-top: 10px;
  height: 50px;
  width: 360px;
  text-align: center;
  margin-left: 3.2cm;

  background-color: #0f385ac0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

