<div class="body">
    <div class="carnet">
        <form [formGroup]="form">
            <h1>Crear pregunta</h1>
            <mat-form-field class="ancho" appearance="fill">
                    <mat-label >Tipo de pregunta</mat-label>
                        <select matNativeControl required formControlName="tipo">
                            <option value="abierta">Abierta</option>
                            <option value="multiple" (change)="openDialog()">Seleccion multiple</option>
                            <option value="vyf">Falso y verdadero </option>
                         </select>
                    </mat-form-field>
            <br>
            
            <br>
            <div class="example-button-row">
            <button mat-raised-button class="btn"(click)="openDialog()" color="primary">Seleccionar Pregunta</button>
        </div>
        </form>
</div>
</div>

